.GenesisCollection {
  color: white;
}

a {
  color: white;
}

a:hover {
  color: red;
}

.Navigation-Tail {
  list-style: none;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  /* background-color: purple; */
  /* margin: 0 10%; */
}

.Navigation-Header {
  list-style: none;
  font-size: 1.2vw;
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  /* background-color: purple; */
  margin: 0 10%;
}

.Header-List li {
  width: 20%;
}

.Tail-List li {
  width: 20%;
}

.Twitter {
  width: 20%;
  height: 20%;
}

.Discord {
  color: black;
  width: 20%;
  height: 20%;
  position: relative;
}

.Telegram {
  color: black;
  width: 20%;
  height: 20%;
  position: relative;
}

.Youtube {
  color: black;
  width: 20%;
  height: 20%;
  position: relative;
}

.Medium {
  color: black;
  width: 20%;
  height: 20%;
  position: relative;
}

a:link,
a:visited {
  text-decoration: none;
}
