.ConnectWallet-BG {
  display: flex;
  flex-direction: row; /* 使用 column 或者 row 竖直、水瓶排列 div 块中的元素*/
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  /* background-color: rgb(255, 196, 0); */

  /* 使用宽高 vm,vh设置 div 块的宽高*/
  /* width: 10vw; */
  height: 20vh;

  position: relative; /* 位置定位相对,使用top,bottom,left,right 移动位置 */
  top: 0%;
  left: 0%;

  z-index: 10;
  /* background-color: rgb(0, 0, 0); */
}

.ConnectWallet {
  display: flex;
  flex-direction: column; /* 使用 column 或者 row 竖直、水瓶排列 div 块中的元素*/
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  background-color: rgb(19, 41, 28);

  border-radius: 10px;

  /* 使用宽高 vm,vh设置 div 块的宽高*/
  width: 15vw;
  height: 4.9vh;
  font-size: 2vh;
  color: skyblue;

  position: relative; /* 位置定位相对,使用top,bottom,left,right 移动位置 */
  /* top: -90%; */
  /* right: 38%; */

  border: 2px solid #ae6bf0;
  margin: 0.1vh 0/5vw 0vh 1vw;
  /* 调整增大内边距 上 右 下 左 */
  padding: 0vh 0vw 0vh 0vw;

  z-index: 10;
  background-color: rgb(19, 12, 50);
}

.Address {
  display: flex;
  flex-direction: column; /* 使用 column 或者 row 竖直、水瓶排列 div 块中的元素*/
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  /* background-color: rgb(30, 230, 110); */

  border-radius: 10px;

  /* 使用宽高 vm,vh设置 div 块的宽高*/
  width: 50%;
  height: 4.6vh;
  font-size: 2vh;
  color: white;

  position: relative; /* 位置定位相对,使用top,bottom,left,right 移动位置 */
  top: 0%;
  left: 0%;
  border: 2px solid #ae6bf0;

  /* 调整增大外边距 上 右 下 左 */
  margin: 0.1vh 1vw 0vh 0.5vw;
  /* 调整增大内边距 上 右 下 左 */
  padding: 0vh 0vw 0vh 0vw;

  z-index: 10;
  background-color: rgb(19, 12, 50);
}

.HeadLine {
  display: flex;
  flex-direction: column; /* 使用 column 或者 row 竖直、水瓶排列 div 块中的元素*/
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  /* background-color: rgb(30, 230, 110); */

  border-radius: 10px;

  /* 使用宽高 vm,vh设置 div 块的宽高*/
  /* width: 80vw; */
  height: 5vh;
  font-size: 2vh;
  color: #ae6bf0;

  position: relative; /* 位置定位相对,使用top,bottom,left,right 移动位置 */

  left: 0%;

  font-weight: bold;
  font-size: 5vh;

  z-index: 10;

  /* background-color: skyblue; */
}

.Precompiles {
  display: flex;
  flex-direction: column; /* 使用 column 或者 row 竖直、水瓶排列 div 块中的元素*/
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  /* background-color: rgb(255, 196, 0); */

  /* 使用宽高 vm,vh设置 div 块的宽高*/
  /* width: 10vw; */
  height: 250vh;

  position: relative; /* 位置定位相对,使用top,bottom,left,right 移动位置 */
  top: 0%;
  left: 0%;

  margin: 0vh 10vw 0vh 10vw;

  border-radius: 10px;

  z-index: 10;
  /* background-color: rgb(0, 0, 0); */
  border: 2px solid #ae6bf0;
  /* background-color: #7f18e5; */
}

.callpermit {
  display: flex;
  flex-direction: column; /* 使用 column 或者 row 竖直、水瓶排列 div 块中的元素*/
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  /* background-color: rgb(255, 196, 0); */

  /* 使用宽高 vm,vh设置 div 块的宽高*/
  /* width: 10vw; */
  /* height: 180vh; */

  position: relative; /* 位置定位相对,使用top,bottom,left,right 移动位置 */
  top: 0%;
  left: 0%;

  margin: 5vh 10vw 10vh 10vw;
  padding: 3vh 0vw 3vh 0vw;
  border-radius: 10px;

  z-index: 10;
  /* background-color: rgb(0, 0, 0); */
  /* border: 2px solid #ae6bf0; */
  /* background-color: #7f18e5; */
}
.randomness {
  display: flex;
  flex-direction: column; /* 使用 column 或者 row 竖直、水瓶排列 div 块中的元素*/
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  /* background-color: rgb(255, 196, 0); */

  /* 使用宽高 vm,vh设置 div 块的宽高*/
  /* width: 10vw; */
  /* height: 180vh; */

  position: relative; /* 位置定位相对,使用top,bottom,left,right 移动位置 */
  top: 0%;
  left: 0%;

  margin: 5vh 10vw 10vh 10vw;
  padding: 3vh 0vw 3vh 0vw;
  border-radius: 10px;

  z-index: 10;
  /* background-color: rgb(0, 0, 0); */
  /* border: 2px solid #ae6bf0; */
  /* background-color: #7f18e5; */
}

.readmore {
  display: flex;
  flex-direction: column; /* 使用 column 或者 row 竖直、水瓶排列 div 块中的元素*/
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  /* background-color: rgb(255, 196, 0); */

  /* 使用宽高 vm,vh设置 div 块的宽高*/
  width: 66vw;
  /* height: 180vh; */

  position: relative; /* 位置定位相对,使用top,bottom,left,right 移动位置 */
  top: 0%;
  left: 0%;

  margin: -10vh 10vw 0vh 10vw;
  padding: 3vh 0vw 3vh 0vw;
  border-radius: 10px;
  font-size: 3vh;
  color: skyblue;

  z-index: 10;
  /* background-color: rgb(0, 0, 0); */
  /* border: 2px solid #ae6bf0; */
  /* background-color: #7f18e5; */
}
