.main-app {
  text-align: center;
  bottom: 20%;
}

.cta-button {
  padding: 5%;
  border: none;
  border-radius: 20px;
  color: white;
  width: 80%;
  cursor: pointer;
  position: relative;
  /* background-color: yellow; */
  background: rgb(32, 129, 226);
  font-size: 1.2vw;
}
