* {
  padding: 0; /*清除内边距*/
  margin: 0; /*清除外边距*/
  /* background-color: rgb(76, 78, 76); */
}

.App {
  text-align: center;
}

.App-body {
  background-color: rgb(117, 159, 160);
  height: 550px;
  position: relative;
}

.App-header {
  position: relative;
  height: 80px;
  background-color: rgb(29, 28, 28);
}
.App-tail {
  position: relative;
  height: 80px;
  background-color: rgb(29, 28, 28);
}

.App-Navigation-Header {
  position: relative;
  top: 40%;
}

.App-Navigation-Tail {
  position: relative;
  top: 40%;
  width: 60%;
  left: 26%;
  background-color: rgb(239, 34, 34);
}

.Advaita_world_logo {
  width: 25%;
  height: 10%;
  position: relative;
  top: 45%;
}

.Column {
  position: relative;
  left: 3%;
  width: 94%;
  /* background-color: rgb(239, 34, 34); */
}
.Login {
  position: relative;
  left: 77%;
  width: 18%;
  bottom: 16px;
  /* background-color: rgb(19, 145, 255); */
}
