* {
  padding: 0; /*清除内边距*/
  margin: 0; /*清除外边距*/
  background-color: black;
}

.App {
  text-align: center;
  color: white;
}

.App-header {
  height: 80px;
  width: 100%;
  background-color: rgb(29, 28, 28);
}
.App-body {
  top: 80px;
  background-color: black;
  width: 100%;
  height: 1620px;
  position: relative;
}
.App-tail {
  height: 80px;
  position: relative;
  top: 1620px;
  /* background-color: rgb(29, 28, 28); */
}
.Advaita_world_logo {
  color: black;
  width: 30%;
  height: 20%;
  position: relative;
}

.App-Navigation-Header {
  text-align: center;
  position: relative;
  top: 40%;
  left: 3%;
}
.App-Navigation-Tail {
  text-align: center;
  position: relative;
  top: 40%;
  left: 29%;
}
